<!-- BEGIN categories -->
{menubar}
<h2>Categories</h2>
{add_category}
<br /><br />
<table class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
    <tr class="table-header>
        
    </tr>
</table>
<table class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
    <tr class="table-header">
        <th style="width:30%;">{name}</th>
        <th style="width:35%;">{desc}</th>
        <th style="width:10%; text-align:center;">{count}</th>
        <th style="width:10%; text-align:center;">{visible}</th>
        <th style="width:15%; text-align:center;">{actions}</th>
    </tr>
    <!-- BEGIN category-row -->
    <tr id="category-row-{id}" style="background-color:{bgcolor}; width:100%;">
        <td style="padding-left:10px;">{name}</td>
        <td style="padding-left:10px;">{description}</td>
        <td style="padding-left:10px; text-align:center;">{count}</td>
        <td style="text-align:center;">{visible}</td>
        <td style="text-align:center;">
            {image_button}
            {edit_button}
            {delete_button}
        </td>
    </tr>
    <!-- END category-row -->
    <tr style="display:{no-category};">
        <td colspan="5">No categories found</td>
    </tr>
</table>
<!-- END categories -->