<!-- BEGIN customers -->
{menubar}
<h2>Customers</h2>
{add_customer}
<br /><br />
<table class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
    <tr class="table-header>
        
    </tr>
</table>
<table class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
    <tr class="table-header">
        <th style="width:65%;">{name}</th>
        <th style="width:15%; text-align:center;">{total}</th>
        <th style="width:10%; text-align:center;">{visible}</th>
        <th style="width:15%; text-align:center;">{actions}</th>
    </tr>
    <!-- BEGIN customer-row -->
    <tr id="customer-row-{id}" style="background-color:{bgcolor}">
        <td style="padding-left:10px;">{name}</td>
        <td style="padding-left:10px; text-align:center;">${total}</td>
        <td style="text-align:center;">{visible}</td>
        <td style="text-align:center;">
            {edit_button}
            {delete_button}
        </td>
    </tr>
    <!-- END customer-row -->
    <tr style="display:{no-customer};">
        <td colspan="5">No customers found</td>
    </tr>
</table>
<!-- END customers -->