<!-- BEGIN edit_supplier -->
{menubar}
<div id="main">
    <form name="add_product" method="post" action="{base_script}">
        <input id="action" type="hidden" name="action" value="CompleteEditSupplier" />
        <input type="hidden" name="gadget" value="Register" />
        <input id="id" type="hidden" name="id" value="{id}" />
        
        <table id="product_box" border="0" cellpadding="2" cellspacing="2">
            <tr>
                <td>
                    <table class="summary" style="width:100%; border:1px solid #d3d7cf; padding:4px;">
                        <tr class="table-header">
                            <td colspan="5">{lbl_company}</td>
                        </tr>
                        <tr>
                            <td style="width:100px;"><label for="txt_company">{lbl_comp_name}:</label></td>
                            <td colspan="2">{txt_company}</td>
                            <td><label for="txt_abn">{lbl_abn}:</label></td>
                            <td>{txt_abn}</td>
                        </tr>
                        <tr>
                            <td><label for="txt_website">{lbl_website}:</label></td>
                            <td colspan="2">{txt_website}</td>
                            <td>&nbsp;</td>
                            <td>{visible}</td>
                        </tr>
                        <tr>
                            <td><label for="txt_phone">{lbl_phone}:</label></td>
                            <td>{txt_phone}</td>
                            <td><label for="txt_fax">{lbl_fax}:</label></td>
                            <td colspan="2">{txt_fax}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
                        <tr class="table-header">
                            <td style="width:100px;" colspan="4">{lbl_rep}</td>
                        </tr>
                        <tr>
                            <td style="width:100px;"><label for="txt_rep_first_name">{lbl_rep_first_name}:</label></td>
                            <td>{txt_rep_first_name}</td>
                            <td><label for="txt_rep_last_name">{lbl_rep_last_name}:</label></td>
                            <td>{txt_rep_last_name}</td>
                        </tr>
                        <tr>
                            <td><label for="txt_email">{lbl_email}:</label></td>
                            <td>{txt_email}</td>
                            <td><label for="txt_mobile">{lbl_mobile}:</label></td>
                            <td>{txt_mobile}</td>
                        </tr>
                    </table>
                </td>
                
            </tr>
            <tr>
                <td>
                    <table class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
                        <tr class="table-header">
                            <td colspan="4">{lbl_address}</td>
                        </tr>
                        <tr>
                            <td style="width:100px;"><label for="txt_street1">{lbl_street1}:</label></td>
                            <td colspan="2">{txt_street1}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td colspan="2">{txt_street2}</td>
                        </tr>
                        <tr>
                            <td><label for="txt_city">{lbl_city}:</label></td>
                            <td colspan="2">{txt_city}</td>
                        </tr>
                        <tr>
                            <td><label for="txt_state">{lbl_state}:</label></td>
                            <td>{txt_state}</td>
                            <td><label for="txt_pcode">{lbl_pcode}:</label></td>
                            <td>{txt_pcode}</td>
                        </tr>
                        <tr>
                            <td><label for="txt_country">{lbl_country}:</label></td>
                            <td colspan="2">{txt_country}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr><td>&nbsp;</td></tr>
            <tr><td style="text-align:right;">{save_button}</td></tr>
        </table>
    </form>
</div>
<!-- END edit_supplier -->