<!-- BEGIN add_category -->
{menubar}
<div id="main">
    <form name="add_product" method="post" action="{base_script}">
        <input id="action" type="hidden" name="action" value="Complete{action}" />
        <input type="hidden" name="gadget" value="Register" />
        <input id="id" type="hidden" name="id" value="{id}" />
        
        <table id="product_box" border="0" cellpadding="2" cellspacing="2">
            <tr>
                <td><label for="name">{lbl_name}:</label></td>
                <td>{name}</td>
                <td>{visibility}</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td colspan="3"><label for="short_desc_block">{lbl_short_desc}:</label>{short_desc_block}</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td colspan="2">&nbsp;</td><td style="text-align:right;">{save_button}</td></tr>
        </table>
    </form>
</div>
<!-- END add_category -->