<!-- BEGIN purchase_order -->
{menubar}
<div id="main">
    <form action="{script}" method="post">
        <input type="hidden" name="id" value="{id}" />
        <input type="hidden" name="added" id="added" value="{added}" />
        <table id="purchase-order" class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px; {styles}">
            <tr class="table-header">
                <th colspan="5">{title}</th>
            </tr>
            <tr style="width:100%;">
                <td style="width:20%;"><label for="suppliers">{lbl_supplier}:</label></td>
                <td style="width:30%;">{suppliers}</td>
                <td style="text-align:left; width:30%;">{add_supplier}</td>
                <td style="width:10%;"><label for="date">{lbl_calander}:</label></td>
                <td style="width:10%;">{calender}</td>
            </tr>
            <tr>
                <td><label for="">{lbl_reference_no}:</label></td>
                <td>{reference_no}</td>
                <td>&nbsp;</td>
                <td><label for="">{lbl_status}:</label></td>
                <td>{status}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>{add_row}</td>
                <td>{delete_row}</td>
            </tr>
            <tr>
                <td colspan="4" rowspan="3">
                    <table id="products-o" class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
                        <tr class="table-header">
                            <th style="width:10%;text-align:center;">{lbl_select}</th>
                            <th style="width:30%;">{lbl_product_name}</th>
                            <th style="width:20%;text-align:center;">{lbl_qty}</th>
                            <th style="width:20%;text-align:center;">{lbl_item_price}</th>
                            <th style="width:20%;text-align:center;">{lbl_discount}</th>
                        </tr>
                        <!-- BEGIN order_item -->
                        <tr>
                            <td style="text-align:center;">{chk}</td>
                            <td style="text-align:center;">{products}</td>
                            <td style="text-align:center;">{qty}</td>
                            <td style="text-align:center;">{item_price}</td>
                            <td style="text-align:center;">{item_discount}</td>
                        </tr>
                        <!-- END order_item -->
                        <tr>
                            <td colspan="5" style="text-align:right;">&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align:left;">{lbl_comments}:</td>
                            <td colspan="1" style="text-align:right;">{lbl_shipping}:</td>
                            <td style="text-align:center;">{shipping}</td>
                        </tr>
                        <tr>
                            <td colspan="3" rowspan="3" style="text-align:left;">
                                {comments_field}
                            </td>
                            <td colspan="1" style="text-align:right;">{lbl_discount}:</td>
                            <td style="text-align:center;">{discount}</td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align:right;">{lbl_tax}:</td>
                            <td style="text-align:center;">{tax}</td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align:right;">{lbl_total}:</td>
                            <td id="total" style="text-align:center;font-weight:bold;">{total}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">{new_product}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4" style="text-align:right;">{cancel_button}{save_button}</td>
            </tr>
            </tr>
        </table>
    </form>
</div>
<!-- END purchase_order -->