<!-- BEGIN customer_order -->
{menubar}
<div id="main">
    <form action="{script}" method="post">
        <input type="hidden" name="id" value="{id}" />
        <input type="hidden" name="removed" id="removed" value="{removed}" />
        <table id="purchase-order" class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px; {styles}">
            <tr class="table-header">
                <th colspan="5">{title}</th>
            </tr>
            <tr style="width:100%;">
                <td style="width:20%;"><label for="customers">{lbl_customer}:</label></td>
                <td style="width:30%;">{customers}</td>
                <td style="text-align:left; width:30%;">{add_customer}</td>
                <td style="width:10%;"><label for="date">{lbl_calander}:</label></td>
                <td style="width:10%;">{calender}</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
                <td><label for="">{lbl_status}:</label></td>
                <td>{status}</td>
            </tr>
            <tr>
                <td>{add_row}</td>
                <td>{delete_row}</td>
            </tr>
            <tr>
                <td colspan="4" rowspan="3">
                    <table id="products-o" class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
                        <tr class="table-header">
                            <th style="width:10%;text-align:center;">{lbl_select}</th>
                            <th style="width:30%;">{lbl_product_name}</th>
                            <th style="width:20%;text-align:center;">{lbl_qty}</th>
                            <th style="width:20%;text-align:center;">{lbl_price}</th>
                            <th style="width:20%;text-align:center;">{lbl_discount}</th>
                        </tr>
                        <!-- BEGIN order_item -->
                        <tr>
                            <td style="text-align:center;">{chk}</td>
                            <td style="text-align:center;">{products}</td>
                            <td style="text-align:center;">{qty}</td>
                            <td style="text-align:center;">{price}</td>
                            <td style="text-align:center;">{discount}</td>
                        </tr>
                        <!-- END order_item -->
                        <tr>
                            <td colspan="5" style="text-align:right;">&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align:left;">{lbl_comments}:</td>
                            <td colspan="1" style="text-align:right;">{lbl_shipping}:</td>
                            <td style="text-align:center;">{shipping}</td>
                        </tr>
                        <tr>
                            <td colspan="3" rowspan="3" style="text-align:left;">
                                {comments_field}
                            </td>
                            <td colspan="1" style="text-align:right;">{lbl_discount}:</td>
                            <td style="text-align:center;">{discount}</td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align:right;">{lbl_tax}:</td>
                            <td style="text-align:center;">{tax}</td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align:right;">{lbl_total}:</td>
                            <td id="total" style="text-align:center;font-weight:bold;">{total}</td>
                        </tr>
                    </table>
                </td>
                
            </tr>
            <tr>
                <td style="text-align:center;">{new_product}</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td colspan="4" style="text-align:right;">
                    {save_button}
                    {save_and_print_btn}
                    {save_and_email_btn}
                </td>
            </tr>
        </table>
    </form>
</div>
<!-- END customer_order -->