<!-- BEGIN product_image -->
{menubar}
<div id="main">
    <form name="add_product" enctype="multipart/form-data" method="post" action="{base_script}">
        <input id="action" type="hidden" name="action" value="{action}" />
        <input type="hidden" name="gadget" value="Register" />
        <input id="id" type="hidden" name="id" value="{id}" />
        
        <table class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
            <tr style="width:100%">
                <td style="width:50%;">
                    <table border="0" border="1px solid black" cellpadding="2" cellspacing="2">
                        <tr>
                            <td style="text-align:right;"><label for="id">{lbl_id}:</label></td>
                            <td>{id}</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;"><label for="image">{lbl_name}:</label></td>
                            <td>{name}</td>
                        </tr>
                    </table>
                </td>
                <td style="width:50%;">
                    <table border="0px solid black" cellpadding="2" cellspacing="2" style="width:100%;">
                        <tr>
                            <td style="padding-left:150px;"><label for="">{lbl_image}</label></td>
                        </tr>
                        <tr>
                            <td style="text-align:right;">{field_image}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;">{upload_button}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
    <table cellpadding="2" cellspacing="2" style="width:100%;border:0px solid black;">
        <!-- BEGIN image_row -->
        <tr>
            <td style="text-align:center;"><a href="{url}" title="{lbl_edit}"><img src="{image}" alt="Product Image" width="400" height="400" /></a></td>
        </tr>
        <!-- END image_row -->
    </table>
</div>
<!-- END product_image -->
<!-- BEGIN trim_image -->
{menubar}
<div id="main">
    <table class="summary" border="1px solid black" style="width:100%; border: 1px solid #d3d7cf; padding: 4px;">
        <tr>
            <td style="text-align:center;">
                <img id="product-image" src="{image}" alt="Product Image" />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align:right;">{save_button}</td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    
    Event.observe(
        window,
        'load',
        function()
        {
            new Cropper.Img(
                'product-image',
                {
                    ratioDim: { x: 1, y: 1 },
                    minWidth: 400,
                    minHeight: 400,
                    displayOnInit: true,
                    onEndCrop: select_image_crop
                }
            )
        }
    );
    
</script>

<!-- END trim_image -->