<!-- BEGIN add_product -->
{menubar}
<div id="main">
    <form name="add_product" method="post" action="{base_script}">
        <input id="action" type="hidden" name="action" value="Complete{action}" />
        <input type="hidden" name="gadget" value="Register" />
        <input id="id" type="hidden" name="id" value="{id}" />
        
        <table id="product_box" border="0" cellpadding="2" cellspacing="2">
            <tr>
                <td><label for="name">{lbl_name}:</label></td>
                <td colspan="2">{name}</td>
                <td><label for="catid">{lbl_catid}:</label></td>
                <td>{catid}</td>
                <td>{add_category_button}</td>
            </tr>
            <tr>
                <td><label for="name">{lbl_url}:</label></td>
                <td colspan="2">{url}</td>
                <td><label for="suppid">{lbl_suppliers}:</label></td>
                <td>{suppid}</td>
                <td>{add_supplier_button}</td>
            </tr>
            <tr>
                <td>{visibility}</td>
                <td style="text-align:right;"><label for="name">{lbl_whole_price}:</label></td>
                <td style="text-align:right;padding-right:12px;">$ {whole_price}</td>
                <td><label for="">{lbl_product_type}:</label></td>
                <td>{product_type}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td style="text-align:right;"><label for="catid">{lbl_retail_price}:</label></td>
                <td style="text-align:right;padding-right:12px;">$ {retail_price}</td>
            </tr>
            <tr>
                <td colspan="6"><label for="short_desc_block">{lbl_short_desc}:</label>{short_desc_block}</td>
            </tr>
            <tr>
                <td colspan="6"><label for="long_desc_block">{lbl_long_desc}:</label>{long_desc_block}</td>
            </tr>
            <tr><td colspan="6">&nbsp;</td></tr>
            <tr><td colspan="5">&nbsp;</td><td style="text-align:right;">{save_button}</td></tr>
        </table>
    </form>
</div>
<!-- END add_product -->