<!-- BEGIN orders -->
{menubar}
<h2>Orders</h2>
{add_purchase_order}
{add_customer_order}
<br /><br />
<table class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
    <tr class="table-header">
        
    </tr>
</table>
<!-- BEGIN customer_orders -->
<h3 style="margin-top:20px;">{customer_orders}</h3>
<table id="customer-orders" class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
    <tr class="table-header">
        <th style="width:30%;">{customer}</th>
        <th style="width:20%;text-align:center;">{date}</th>
        <th style="width:15%;text-align:center;">{lbl_status}</th>
        <th style="width:15%;text-align:center;">{total}</th>
        <th style="width:15%;text-align:center;">{actions}</th>
    </tr>
    <!-- BEGIN order-row -->
    <tr id="customer-order-row-{id}" style="background-color:{bgcolor}">
        <td style="padding-left:10px;">{customer}</td>
        <td style="text-align:center;">{date}</td>
        <td style="text-align:center;">{status}</td>
        <td style="padding-left:10px; text-align:center;">${total}</td>
        <td style="text-align:center;">
            {edit_button}
            {delete_button}
        </td>
    </tr>
    <!-- END order-row -->
    <tr style="display:{no-order};">
        <td colspan="5">No orders found</td>
    </tr>
</table>
<!-- END customer_orders -->
<!-- BEGIN purchase_orders -->
<h3 style="margin-top:20px;">{purchase_orders}</h3>
<table id="purchase-orders" class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
    <tr class="table-header">
        <th style="width:30%;">{supplier}</th>
        <th style="width:20%;text-align:center;">{date}</th>
        <th style="width:15%;text-align:center;">{lbl_status}</th>
        <th style="width:15%;text-align:center;">{total}</th>
        <th style="width:15%;text-align:center;">{actions}</th>
    </tr>
    <!-- BEGIN order-row -->
    <tr id="purchase-order-row-{id}" style="background-color:{bgcolor}">
        <td style="padding-left:10px;">{supplier}</td>
        <td style="text-align:center;">{date}</td>
        <td style="text-align:center;">{status}</td>
        <td style="padding-left:10px; text-align:center;">${total}</td>
        <td style="text-align:center;">
            {edit_button}
            {delete_button}
        </td>
    </tr>
    <!-- END order-row -->
    <tr style="display:{no-order};">
        <td colspan="5">No orders found</td>
    </tr>
</table>
<!-- END purchase_orders -->
<!-- END orders -->