<!-- BEGIN products -->
{menubar}
<h2>Products</h2>
{add_product}
<br /><br />
<table class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
    <tr class="table-header>
        
    </tr>
</table>
<table class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
    <tr class="table-header">
        <th style="width:45%;">{name}</th>
        <th style="width:15%;text-align:center;"">{lbl_stock}</th>
        <th style="width:15%;text-align:center;"">{category}</th>
        <th style="width:10%;text-align:center;">{visible}</th>
        <th style="width:15%;text-align:center;">{actions}</th>
    </tr>
    <!-- BEGIN product-row -->
    <tr id="product-row-{id}" style="background-color:{bgcolor}; width:100%;">
        <td style="padding-left:10px;">{name}</td>
        <td style="text-align:center;"">{stock}</td>
        <td style="padding-left:10px;">{cat}</td>
        <td style="text-align:center;">{visible}</td>
        <td style="text-align:center;">
            {image_button}
            {edit_button}
            {delete_button}
        </td>
    </tr>
    <!-- END product-row -->
    <tr style="display:{no-product};">
        <td colspan="5">No products found</td>
    </tr>
</table>
<!-- END products -->