<!-- BEGIN reports -->
{menubar}
<div id="main">
    <ul>
        <li><a href="admin.php?gadget=Register&amp;action=SelectTests" title="">Select Tests</a></li>
    </ul>
</div>
<!-- END reports -->