<!-- BEGIN settings -->
{menubar}
<div id="main">
    <form action="{action}" method="post">
        <table class="summary" border="0px solid black" style="width:100%; border: 1px solid #d3d7cf; padding:4px;">
            <tr class="table-header">
                <td colspan="3" style="padding-left:10px;">{lbl_company}</td>
            </tr>
            <tr>
                <td style="width:20%;"><label for="field_company">{lbl_company_name}:</label></td>
                <td style="width:50%;">{field_company}</td>
                <td rowspan="11" style="width:30%;font-size:smaller;">{company_info}</td>
            </tr>
            <tr>
                <td style="width:20%;"><label for="field_abn">{lbl_abn}:</label></td>
                <td style="width:50%;">{field_abn}</td>
            </tr>
            <tr>
                <td><label for="txt_website">{lbl_email}:</label></td>
                <td>{txt_email}</td>
            </tr>
            <tr>
                <td><label for="txt_website">{lbl_website}:</label></td>
                <td>{txt_website}</td>
            </tr>
            <tr>
                <td><label for="txt_phone">{lbl_phone}:</label></td>
                <td>{txt_phone}</td>
            </tr>
            <tr>
                <td><label for="txt_fax">{lbl_fax}:</label></td>
                <td>{txt_fax}</td>
            </tr>
            <tr>
                <td><label for="txt_street1">{lbl_street1}:</label></td>
                <td>{txt_street1}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>{txt_street2}</td>
            </tr>
            <tr>
                <td><label for="txt_city">{lbl_city}:</label></td>
                <td>{txt_city}</td>
            </tr>
            <tr>
                <td><label for="txt_state">{lbl_state}:</label></td>
                <td>{txt_state}</td>
            </tr>
            <tr>
                <td><label for="txt_pcode">{lbl_pcode}:</label></td>
                <td>{txt_pcode}</td>
            </tr>
            <tr>
                <td><label for="txt_country">{lbl_country}:</label></td>
                <td>{txt_country}</td>
            </tr>
        </table>
        <table class="summary" style="width:100%; margin-top:10px; border: 1px solid #d3d7cf; padding: 4px;">
            <tr class="table-header">
                <td colspan="2" style="padding-left:10px;">{lbl_environment}</td>
            </tr>
            <tr>
                <td rowspan="2" style="width:70%;padding:20px;">{select_environment}</td>
                <td style="width:30%;font-size:smaller;">{environment_production}</td>
            </tr>
            <tr>
                <td style="width:30%;font-size:smaller;">{environment_development}</td>
            </tr>
        </table>
        {save_button}
    </form>
</div>
<!-- END settings -->