<!-- BEGIN suppliers -->
{menubar}
<h2>Suppliers</h2>
{add_supplier}
<br /><br />
<table class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
    <tr class="table-header>
        
    </tr>
</table>
<table class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
    <tr class="table-header">
        <th style="width:65%;">{name}</th>
        <th style="width:15%; text-align:center;">{count}</th>
        <th style="width:10%; text-align:center;">{visible}</th>
        <th style="width:15%; text-align:center;">{actions}</th>
    </tr>
    <!-- BEGIN supplier-row -->
    <tr id="supplier-row-{id}" style="background-color:{bgcolor}">
        <td style="padding-left:10px;">{name}</td>
        <td style="padding-left:10px; text-align:center;">{count}</td>
        <td style="text-align:center;">{visible}</td>
        <td style="text-align:center;">
            {edit_button}
            {delete_button}
        </td>
    </tr>
    <!-- END supplier-row -->
    <tr style="display:{no-supplier};">
        <td colspan="5">No suppliers found</td>
    </tr>
</table>
<!-- END suppliers -->