<!-- BEGIN tests -->
{menubar}
<h2>Test Results</h2>
<br /><br />
<table id="test-results" class="summary" style="width:100%;border:1px solid #d3d7cf;padding:4px;color:#ffffff;font-weight:bold;">
    <tr class="table-header">
        <th style="width:75%;padding:10px 20px;">{name}</th>
        <th style="width:15%;text-align:center;padding:10px 20px;">{lbl_time}</th>
        <th style="width:10%;text-align:center;padding:10px 20px;">{result}</th>
    </tr>
    <!-- BEGIN case_row -->
    <tr style="background-color:#000000;color:#ffffff;">
        <td colspan="3" style="padding:5px 10px;">{class_name}</td>
    </tr>
    <!-- BEGIN test-row -->
    <tr id="test-name-{name}" style="color:#000000;">
        <td style="padding:5px 10px;">{name}</td>
    </tr>
    <!-- END test-row -->
    <!-- END case_row -->
    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>
    <tr style="background-color:orange;color:#000000;font-weight:bold;">
        <td colspan="3" style="text-align:center;padding:5px 10px;"></td>
    </tr>
</table>
<script type="text/javascript">
    
    Event.observe(window, 'load', run_tests);
    
</script>
<!-- END tests -->