<!-- BEGIN tests -->
{menubar}
<h2>Tests</h2>
<br /><br />
<table id="tests" class="summary" style="width:100%;border:1px solid #d3d7cf;padding:4px;">
    <tr class="table-header">
        <th style="width:15%;text-align:center;">{select}{select_all}</th>
        <th style="width:75%;">{name}</th>
    </tr>
    <!-- BEGIN test-row -->
    <tr style="background-color:{bgcolor}">
        <td style="text-align:center;">{chk}</td>
        <td style="padding-left:10px;">{name}</td>
    </tr>
    <!-- END test-row -->
</table>
{run_button}
<!-- END tests -->