<!-- BEGIN trim_image -->
{menubar}
<div id="main">
    <form name="add_product" enctype="multipart/form-data" method="post" action="{base_script}">
        <input id="action" type="hidden" name="action" value="Complete{action}" />
        <input type="hidden" name="gadget" value="Register" />
        <input id="id" type="hidden" name="id" value="{id}" />
        
        <table class="summary" style="width: 100%; border: 1px solid #d3d7cf; padding: 4px;">
            <tr style="width:100%">
                <td>
                    
                </td>
            </tr>
        </table>
    </form>
</div>
<!-- END trim_image -->